.vercel

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.DS_Store
build/
dist/
*.egg-info/

# Environments
.env
venv/
env/

# Log files
*.log

# IDE
.idea/
*.swp
